.container-balance {
    border-radius: 20px;
    padding-bottom: 15px !important;
    background: #FFF;

    @media only screen and ( min-width: 768px ) {
        justify-content: flex-start;
        p {
            font-size: 5rem;
        }

        .container {
            .income, .cost {
                .number {
                    font-size: 2.7rem;
                }
            }
        }
    }

    p {
        color: #697df6;
    }

    .container {
        .income {
            color: #6bcd72;
        }
        .cost {
            color: #d66463;
        }
    }
    .analytics {
        i {
            cursor: pointer;
            padding: 10px;
            border-radius: 20px;
            transition: all .2s;
            &:hover {
                background: rgba( 0, 0, 0, 0.1 );
            }
        }

        span {
            color: 'red';
        }
    }
}