body {
    // background: red;
}

.nav-content {
    background: #6683f9;
    overflow: hidden;    
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    scroll-behavior: smooth;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    overflow-x: scroll;
    justify-content: center;
    display: flex;
    height: 60px;

    @media only screen and ( max-width: 1021px ) {
        justify-content: flex-start;
    }

    &.dragging {
        scroll-behavior: auto;
        .nav {
            li {
                pointer-events: none;
                a {
                    pointer-events: none;
                }
            }
        }
    }
    
    .nav {
        flex-wrap: nowrap !important;
        align-items: flex-end;
        max-height: 60px;        
        li {
            padding: 10px 0;            
            a {                
                display: flex;
                align-items: flex-start;
                color: #FFF;
                font-size: 1.1rem;
                user-select: none;
                transition: font .1s;
                pointer-events: none;
                &.active {
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.nav-content::-webkit-scrollbar {
    display: none !important;
}

